body {
/*	background: #1C1C1C;
	color: #E6E6E6;*/
	background: #E6E6E6;
	color: #1C1C1C;
	font-family: 'Aldrich', sans-serif;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

h1 {
	font-family: 'Armata', sans-serif;
	font-size: 48px;
}

#box1 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: table;
}

#box2 {
    display: table-cell;
    vertical-align: middle;
}

#box3 {
    margin: auto;
    width: 500px;
}